<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anime Rankings</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="https://typecho-boom.oss-cn-beijing.aliyuncs.com/cdn/bootstrap.min.css">
    <style type="text/css">
        .loadingOverlay {
            position: fixed; /* 固定定位，覆盖整个页面 */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.8); /* 半透明背景 */
            backdrop-filter: blur(5px); /* 毛玻璃效果 */
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            z-index: 1000; /* 确保覆盖层位于最上层 */
        }
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border-left-color: #09f;
            animation: spin 1s ease infinite;
        }
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Anime Rankings</h1>
        <!-- 添加一个按钮来显示权重选择表单 -->
        <button id="showWeightsFormBtn" class="btn btn-info" style="margin-bottom: 20px;">Customize Rankings</button>
        <form action="{{ url_for('get_score') }}" method="post" class="mb-3">
            <button type="submit" class="btn btn-primary">获取所有动画分数</button>
        </form>
        <div id="weightsForm" style="display:none; margin-bottom: 20px;">
            <form action="" method="get" id="weightForm">
                <div class="form-row">
                    <div class="col">
                        <label for="bgm_weight">BGM Weight:</label>
                        <input type="number" class="form-control" name="bgm_weight" id="bgm_weight" min="0" max="1" step="0.1" value="0.5">
                    </div>
                    <div class="col">
                        <label for="fm_weight">FM Weight:</label>
                        <input type="number" class="form-control" name="fm_weight" id="fm_weight" min="0" max="1" step="0.1" value="0.3">
                    </div>
                    <div class="col">
                        <label for="ank_weight">ANK Weight:</label>
                        <input type="number" class="form-control" name="ank_weight" id="ank_weight" min="0" max="1" step="0.1" value="0">
                    </div>
                    <div class="col">
                        <label for="anl_weight">ANL Weight:</label>
                        <input type="number" class="form-control" name="anl_weight" id="anl_weight" min="0" max="1" step="0.1" value="0">
                    </div>
                    <div class="col">
                        <label for="mal_weight">MAL Weight:</label>
                        <input type="number" class="form-control" name="mal_weight" id="mal_weight" min="0" max="1" step="0.1" value="0.2">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sort</button>
                <button type="button" id="resetButton" class="btn btn-primary mt-3">Reset</button>
            </form>
        </div>
        <!-- 搜索框和按钮 -->
        <div class="search-bar mb-4">
            <form id="searchForm" class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Enter BGM ID" aria-label="Search" name="bgm_id">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div id="searchResults"></div>
        <div class="row" id="rankings">
            {% for anime in animes %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ anime.poster }}" class="card-img-top" alt="{{ anime.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ anime.title }} / {{ anime.name_cn }}</h5>
                        <p class="card-text">Weighted Score: {{ anime.weighted_score }}</p>
                        <p class="card-text"><a href="https://bgm.tv/subject_search/{{ anime.title }}">BGM Score: {{ anime.bgm_score }}</a></a></p>
                        <p class="card-text"><a href="https://filmarks.com/search/animes?q={{ anime.title }}">FM Score: {{ anime.fm_score }}</a></p>
                        <p class="card-text"><a href="https://www.anikore.jp/anime_title/{{ anime.title }}">ANK Score: {{ anime.ank_score }}</a></p>
                        <p class="card-text"><a href="https://anilist.co/search/anime?search={{ anime.title }}">ANL Score: {{ anime.anl_score }}</a></p>
                        <p class="card-text"><a href="https://myanimelist.net/search/all?q={{ anime.title }}&cat=all">MAL Score: {{ anime.mal_score }}</a></p>
                        <p class="card-text">{{ anime.time }}</p>
                    </div>
                    <form action="{{ url_for('update_single_anime_score', title=anime.title) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-info">更新分数</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="loadingSpinner" class="loadingOverlay" style="display: none;">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- 可选：引入Bootstrap JS -->
    <script src="https://typecho-boom.oss-cn-beijing.aliyuncs.com/cdn/jquery-3.5.1.slim.min.js"></script>
    <script src="https://typecho-boom.oss-cn-beijing.aliyuncs.com/cdn/popper.min.js"></script>
    <script src="https://typecho-boom.oss-cn-beijing.aliyuncs.com/cdn/bootstrap.min.js"></script>

    <script>
        document.getElementById('showWeightsFormBtn').onclick = function() {
            var form = document.getElementById('weightsForm');
            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
        };

        document.getElementById('weightForm').onsubmit = function(e) {
            e.preventDefault(); // 阻止表单默认提交行为
            // 获取权重值
          var bgmWeight = document.getElementById('bgm_weight').value;
          var fmWeight = document.getElementById('fm_weight').value;
          var ankWeight = document.getElementById('ank_weight').value;
          var anlWeight = document.getElementById('anl_weight').value;
          var malWeight = document.getElementById('mal_weight').value;

          // 构造带有权重参数的URL
          var redirectUrl = "/?bgm_weight=" + bgmWeight + "&fm_weight=" + fmWeight + "&ank_weight=" + ankWeight + "&anl_weight=" + anlWeight + "&mal_weight=" + malWeight;

          // 保存权重到cookie
          document.cookie = "bgm_weight=" + bgmWeight + "; path=/";
          document.cookie = "fm_weight=" + fmWeight + "; path=/";
          document.cookie = "ank_weight=" + ankWeight + "; path=/";
          document.cookie = "anl_weight=" + anlWeight + "; path=/";
          document.cookie = "mal_weight=" + malWeight + "; path=/";

          // 重定向到带有权重参数的URL
          window.location.href = "/?bgm_weight=" + bgmWeight + "&fm_weight=" + fmWeight + "&ank_weight=" + ankWeight + "&anl_weight=" + anlWeight + "&mal_weight=" + malWeight;
        };

        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("resetButton").addEventListener("click", resetFormAndCookies);
        });

        function resetFormAndCookies() {
            fetch('/reset_cookies')
                .then(response => {
                    document.getElementById("weightForm").reset();
                    window.location.href = '/';
                })
                .catch(error => console.error('Error:', error));
        }
        document.getElementById('searchForm').onsubmit = function(e) {
        e.preventDefault(); // 阻止表单默认提交行为
        document.getElementById('loadingSpinner').style.display = 'flex'; // 显示动画

        var bgmId = document.querySelector('input[type="search"]').value;

        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ bgm_id: bgmId }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            var searchResults = document.getElementById('searchResults');
            var rankings = document.getElementById('rankings');
            rankings.style.display = 'none';
            if (data.error) {
                searchResults.innerHTML = `<p>${data.error}</p>`;
            } else {
                var resultHTML = `
                    <div class="col-md-4 mb-4" style="margin-bottom: 20px;">
                        <div class="card" style="margin-bottom: 20px;">
                            <img src="${data.poster}" class="card-img-top" alt="${data.title}">
                            <div class="card-body" style="margin-bottom: 20px;">
                                <h5 class="card-title">${data.title} / ${data.name_cn}</h5>
                                <p class="card-text">BGM Score: ${data.bgm_score}</p>
                                <p class="card-text">FM Score: ${data.fm_score}</p>
                                <p class="card-text">ANK Score: ${data.ank_score}</p>
                                <p class="card-text">ANL Score: ${data.anl_score}</p>
                                <p class="card-text">MAL Score: ${data.mal_score}</p>
                            </div>
                        </div>
                        <a href="/" class="btn btn-primary">Back</a>
                    </div>`;
                searchResults.innerHTML = resultHTML;
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        })
        .finally(() => {
            // 隐藏等待动画
            document.getElementById('loadingSpinner').style.display = 'none';
        });
    };
    </script>
</body>

</html>
